
    <div class="nav">
  
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="Abhivyakti.html">Abhivyakti</a></li>
            <li><a href="Tantrafiesta.html">Tantrafiesta</a></li> -->
            <li><a href="achievement.html">Students</a></li>
            <li><a href="E-Library.html">E-Library</a></li>
            <!-- <li><a href="director.html">Department</a></li>
            <li><a href="Recruitment.html">Recruitment</a></li> -->
            <li><a href="/login">Log In</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="profile.html">About</a></li>
          </ul>
    </div>