<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/project.css">
  <link rel="stylesheet" href="../css/index2.css">
  <title>Home</title>
</head>
<body class="body">


<div class="heading1">

  <h1> <img src="http://drive.google.com/uc?export=view&id=1yKrAOHL2pVJED3LqgHqKYzPGhur4Cefl" alt="home" width="100"
      height="100"> Indian Institute of Information Technology</h1>
</div>

<UL>
  <LI>
    <a href="/">HOME</a>
  </LI>
  <LI>
    <a href="/stdSignUp">Student</a>
  </LI>
  <li>
    <a href="/teaSignUp">Faculty</a>
  </li>
  <LI>
    <a href="/eLibrary">E-Library</a>
  </LI>
  <li>
    <a href="/director">Department</a>
  </li>
  <li>
    <a href="/recruitment">Recruitment</a>
  </li>
  <li>
    <a href="/courses">Courses</a>
  </li>
  <li>
    <a href="/rti">RTI</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
  <li>
    <a href="#">About</a>
  </li>
</UL>

<div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img 
      src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
      style="width:100%">
    <div class="text">NEVER STOP</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img 
      src="https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80"
      style="width:100%">
    <div class="text">DO YOUR THING</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="wallpaperflare-cropped.jpg" style="width:100%">
    <div class="text">ALWAYS READY TO LEARN</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>


<br><br>

<div class="bg-img3">
  <div class="centered">
    <p id="text">
      <h1>WELCOME TO THE WORLD OF PROGRAMMING</h1><br>
    <h1 style="font-size: 40px;font-family:verdana,sans-serif;">ONLINE PROGRAMMING TUTORIAL</h1><br>
    <h3>-"A place where you learn and grow" </h3>
    </p>
  </div>
</div>


<div class="bg-img">
  <div class="heading2">
    <h1>About MOOC Course</h1>
  </div>
  <div class="text1">
    <p> <b>Massive Open Online Courses (MOOCs) </b>are free online courses available for anyone to enroll. MOOCs
      provide an
      affordable and flexible way to learn new skills, advance your career and deliver quality educational
      experiences at scale.</p>

    <p>Millions of people around the world use MOOCs to learn for a variety of reasons, including: career
      development, changing careers, college preparations, supplemental learning, lifelong learning, corporate
      eLearning & training, and more.</p>

    <p>It is also called an open online course aimed at unlimited
      participation and open access via the Web. In addition to traditional course materials, such as filmed
      lectures, readings, and problem sets, many MOOCs provide interactive courses with user forums or social
      media discussions to support community interactions among students, professors, and teaching assistants
      (TAs), as well as immediate feedback to quick quizzes and assignments. MOOCs are a widely researched
      development in distance education,first introduced in 2008, that emerged as a popular mode of
      learning in 2012</p>

    <p> MOOCs have dramatically changed the way the world learns. Ready to get started? </p>
  </div>
</div>

<div class="bg-img2">
  <div class="heading2">
    <h1>Why MOOC Course ?</h1>
  </div>
  <div class="text1">
    <p> The importance of MOOCs in education, and especially in higher education, is currently a hot topic. For some
      students and educators, MOOCs present challenges in terms of quality, consistency, and delivery of courses and
      programmes.</p>

    <p>The question in itself raises other questions like: Are students moving toward a common goal? Are there quality
      educators present to guide students through the materials? How do we measure the academic rigour of these
      courses?.</p>

    <p>Educators are challenging the quality of learning that MOOCs can provide and the competencies and skills that
      students can gain. Educators and learners are asking ‘if everything that can be learned online can be considered
      “online learning”? For learners looking for MOOCs to boost their knowledge in many different areas, MOOCs are
      indeed a learning tool and are a part of online learning.</p>

    <p> MOOCs can bring knowledge to students who may not have access otherwise, and be of use to learners who can’t
      afford the costs of higher education. Non-traditional education realised through a MOOCs is a useful form of
      online learning and can complement traditional university learning. </p>
  </div>
</div>
<div class="btm">
  <p>FOR MORE DETAILS VISIT @ <a href="#" style="color:white;">onlinetutorial.ac.in</a><br><b>Or</b><br>CONTACT:
    9284749303037</p>
  <p>Follw Us On :<a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-twitter"></a><a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-youtube"></a><a href="#" class="fa fa-pinterest"></a>
</p>
</div>
<script src="../js/project.js"></script>
</body>
</html>