<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stdSignUp1.css">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" href="../css/index2.css">
    
    <title>Sign Up</title>
</head>
<body>
	<div class="heading1" style="margin-left: 100px;" >

		<h1 > <img src="http://drive.google.com/uc?export=view&id=1yKrAOHL2pVJED3LqgHqKYzPGhur4Cefl" alt="home" width="100"
			height="100"  > Indian Institute of Information Technology</h1>
	  </div>

	<UL>
		<LI>
		  <a href="/">HOME</a>
		</LI>
		<LI>
		  <a href="/stdSignUp">Student</a>
		</LI>
		<li>
		  <a href="/teaSignUp">Faculty</a>
		</li>
		<LI>
		  <a href="/eLibrary">E-Library</a>
		</LI>
		<li>
		  <a href="/director">Department</a>
		</li>
		<li>
		  <a href="/recruitment">Recruitment</a>
		</li>
		<li>
		  <a href="/courses">Courses</a>
		</li>
		<li>
		  <a href="/rti">RTI</a>
		</li>
		<li>
		  <a href="#">Contact</a>
		</li>
		<li>
		  <a href="#">About</a>
		</li>
	  </UL>
	
    <!-- <h2>Weekly Coding Challenge #1: Sign in/up Form</h2> -->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/addTeacher" method="post">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/authTea" method="post">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>
<script src="../js/stdSignUp1.js"></script>
</body>
</html>